*.a
*.app
*.d
*.dll
*.dylib
*.exe
*.gch
*.history
*.la
*.lai
*.lib
*.lo
*.mod
*.o
*.obj
*.out
*.pch
*.root
*.slo
*.smod
*.so
*~

.DAWN_*
G4History*

.DS_Store

/.idea
/.temp
/.vscode
/build
/cmake-build*
/data
/export
/test-stand-geometry-dump

simulation

__pycache__
